<main class="container mx-auto p-4 max-w-[1200px]">
  <!-- Heading & Search Box -->
  <section
    class="flex flex-col sm:flex-row justify-between items-center sm:mb-14 mb-5"
  >
    <!-- Main heading -->
    <h1 class="text-2xl font-bold mb-4">Twubric App</h1>
    <!-- Search  bar -->
    <div class="flex gap-3 h-8 w-full sm:w-auto">
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 pl-3.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-full sm:w-auto"
        placeholder="Search..."
        [(ngModel)]="searchData"
        (ngModelChange)="searchUser()"
      />
      <button
        class="sm:px-4 px-2 text-black rounded-md border-2 text-xs sm:text-base shadow-md"
      >
        Search
      </button>
    </div>
  </section>

  <!-- Filter -->
  <section
    class="shadow-xl relative p-2 rounded border flex items-center justify-between mb-4"
  >
    <h2 class="pl-2 font-bold">User List</h2>
    <div class="flex gap-3">
      <!-- Sort by Username A-Z btn-->
      <button
        class="sm:px-4 sm:py-2 px-2 py-1 text-black rounded-md border-2 text-xs sm:text-base shadow-md"
        (click)="sortUser()"
      >
        Sort by A to Z
      </button>
      <!-- Sorting by various criteria & Filter Date Toggle btn-->
      <button
        class="px-4 py-2 text-black rounded-md border-2 text-xs sm:text-base shadow-md"
        (click)="filter = !filter"
      >
        Filter
      </button>
      <!--  Show/Hide Filter popup -->
      <div
        class="absolute top-16 right-2 text-black rounded-lg border-2 shadow-md z-20 bg-white"
        *ngIf="filter"
      >
        <!-- Filter Headline -->
        <div class="border px-4 py-2 border-b-[#7d7d7d]">Filter</div>
        <!-- Data Range -->
        <div class="border px-4 py-3 border-b-[#7d7d7d]">
          <!-- Heading & Reset btn -->
          <div class="flex justify-between mb-2">
            <h4>Date range</h4>
            <div
              class="text-blue-700 cursor-pointer"
              (click)="resetFilter('date')"
            >
              Reset
            </div>
          </div>
          <!-- Date Range input -->
          <div class="flex">
            <div>
              <label class="mr-2 block text-sm text-gray-500">From:</label>
              <input
                type="date"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-2"
                placeholder="Start Date"
                [(ngModel)]="startDate"
                (ngModelChange)="filterDate(startDate, endDate)"
              />
            </div>
            <div>
              <label class="mr-2 block text-sm text-gray-500">To:</label>
              <input
                type="date"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-2"
                placeholder="Start Date"
                [(ngModel)]="endDate"
                (ngModelChange)="filterDate(startDate, endDate)"
              />
            </div>
          </div>
        </div>
        <!-- various criteria -->
        <div class="border px-4 py-3 border-b-[#7d7d7d]">
          <!-- Heading & Reset btn -->
          <div class="flex justify-between mb-2">
            <h4>Criteria</h4>
            <div
              class="text-blue-700 cursor-pointer"
              (click)="resetFilter('criteria')"
            >
              Reset
            </div>
          </div>
          <!-- Dropdown -->
          <select
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Sort By"
            [(ngModel)]="sortBy"
            (ngModelChange)="sortByCriteria()"
          >
            <option value="score">Twubric Score</option>
            <option value="friends">Friends</option>
            <option value="influence">Influence</option>
            <option value="chirpiness">Chirpiness</option>
          </select>
        </div>
        <!-- Apply & Reset btn -->
        <div class="flex justify-between px-4 py-3">
          <button
            class="px-4 py-2 text-black rounded-md border-2 shadow-md"
            (click)="resetFilter('all')"
          >
            Reset all
          </button>
          <button
            class="px-4 py-2 bg-blue-400 text-white rounded-md border-2 shadow-md"
            (click)="filter = !filter"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- User info Section -->
  <section>
    <!-- User info Cart -->
    <div
      *ngIf="filteredUsers.length > 0"
      class="flex flex-col gap-3 overflow-auto md:h-[70vh] h-[calc(100vh-202px)]"
    >
      <div
        class="flex justify-between flex-col md:flex-row shadow-xl relative p-2 rounded border border-[#85b0d3]"
        *ngFor="let item of filteredUsers; let i = index"
      >
        <div class="flex justify-between">
          <div class="flex gap-5">
            <!-- Profile Image -->
            <div class="overflow-hidden rounded-full shadow-lg-4 h-14 w-14">
              <img [src]="item.image" alt="" />
            </div>
            <!-- User Name & full Name -->
            <div>
              <h3 class="font-bold">{{ item.username }}</h3>
              <p class="text-sm">{{ item.fullname }}</p>
            </div>
          </div>
          <label
            for=""
            class="text-[13px] text-gray-500 block mb-1 md:hidden"
            >{{ item.join_date | date : "dd/MM/yyyy" }}</label
          >
        </div>

        <div class="flex gap-5 justify-center flex-wrap my-2 md:my-0">
          <!-- other info -->
          <div>
            <h3>Total</h3>
            <p class="text-sm text-center">{{ item.twubric.total }}</p>
          </div>
          <div>
            <h3>Friends</h3>
            <p class="text-sm text-center">{{ item.twubric.friends }}</p>
          </div>
          <div>
            <h3>Influence</h3>
            <p class="text-sm text-center">{{ item.twubric.influence }}</p>
          </div>
          <div>
            <h3>Chirpiness</h3>
            <p class="text-sm text-center">{{ item.twubric.chirpiness }}</p>
          </div>
        </div>

        <div class="flex justify-end flex-col">
          <label
            for=""
            class="text-[13px] text-gray-500 hidden mb-1 md:block"
            >{{ item.join_date | date : "dd/MM/yyyy" }}</label
          >
          <!-- Remove followers btn -->
          <button
            class="px-1 py-1 bg-[#f83d3d] text-white rounded border-2 shadow-md"
            (click)="removeFollower(item, i)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
    <div
      *ngIf="filteredUsers.length <= 0"
      class="text-xl font-bold text-center capitalize"
    >
      No Data found
    </div>
  </section>
</main>
